---
name: Pre-Release

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  PLATFORMS: linux/amd64,linux/arm/v7,linux/arm64/v8

jobs:
  pre-release:
    runs-on: ubuntu-latest
    environment: staging
    name: Build early access and publish to GitHub
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2.3.4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('Dockerfile', '.dockerignore') }}

      - name: Login to GHCR
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GPR_PAT }}

      - name: Get current date
        id: getDate
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Build images and push to GHCR
        uses: docker/build-push-action@v2.7.0
        with:
          context: .
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ghcr.io/tomerfi/version-bumper:early-access
          build-args: |
            VCS_REF=${{ github.sha }}
            BUILD_DATE=${{ steps.getDate.outputs.date }}
            VERSION=early-access
          cache-from: |
            type=local,src=/tmp/.buildx-cache
            ghcr.io/tomerfi/version-bumper:early-access
          cache-to: type=local,dest=/tmp/.buildx-cache
