---
name: Stage

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  PLATFORMS: linux/amd64,linux/arm/v7,linux/arm64/v8

jobs:
  stage:
    runs-on: ubuntu-latest
    environment: staging
    name: Build early access and publish to GitHub
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2.2.0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2.7.0

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('Dockerfile', '.dockerignore') }}

      - name: Login to GHCR
        uses: docker/login-action@v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GPR_PAT }}

      - name: Build images and push to GHCR
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ghcr.io/tomerfi/version-bumper:early-access
          build-args: |
            VCS_REF=${{ github.sha }}
            BUILD_DATE=$(date +'%Y-%m-%d')
            VERSION=early-access
          cache-from: |
            type=local,src=/tmp/.buildx-cache
            ghcr.io/tomerfi/version-bumper:early-access
          cache-to: type=local,dest=/tmp/.buildx-cache
