---
name: Test and Build Package

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node: ['20', '22', '24']
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    name: "Test project { os: ${{ matrix.os }}, node: ${{ matrix.node }} }"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      # required for testing
      - run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - run: npm ci
      - run: npm run lint
      - run: npm run test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
          fail_ci_if_error: true
