---
name: Build and Test Image

on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Dockerfile
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
  smoke:
    needs: lint
    runs-on: ubuntu-latest
    name: Smoke test
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          tags: tomerfi/version-bumper:testing
          platforms: linux/amd64
          load: true
      - name: Run smoke test
        run: docker run --rm tomerfi/version-bumper:testing -h
  image:
    needs: smoke
    runs-on: ubuntu-latest
    name: Build multi-platform image
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          tags: tomerfi/version-bumper:testing
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
